[Desktop Entry]
Encoding=UTF-8
Name=Link to 10 Free Chiptune Tracks (A Bag of Chips) | OpenGameArt.org
Type=Link
URL=https://opengameart.org/content/10-free-chiptune-tracks-a-bag-of-chips
Icon=text-html
