[Desktop Entry]
Encoding=UTF-8
Name=Link to 69 Game Over Jingles Pack | OpenGameArt.org
Type=Link
URL=https://opengameart.org/content/69-game-over-jingles-pack
Icon=text-html
