[Desktop Entry]
Encoding=UTF-8
Name=Link to 8-Bit Victory Loop | OpenGameArt.org
Type=Link
URL=https://opengameart.org/content/8-bit-victory-loop
Icon=text-html
